In [406]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import matplotlib

import warnings
warnings.filterwarnings('ignore')

In [409]:
# addr = ["서울 강남구 논현로 606", "서울 노원구 동일로 1091", "서울 용산구 한강대로23길 55", "경기 수원시 영통구 덕영대로 1513", "경기 용인시 기흥구 신고매로 59", "서울 구로구 디지털로26길 38", "대구 수성구 동대구로 133", "부산 해운대구 해운대로 601", "광주 서구 상무중앙로 58", "인천 남동구 남동대로 767"]

In [410]:
pd.set_option('display.max_seq_items', None)

In [411]:
sales = pd.read_csv("dataFolder/rental.csv")

In [412]:
incomes = pd.read_csv("/home/piai/바탕화면/BigData_Project/rental_Project/dataFolder/incomes.csv", encoding='euc-kr', skiprows=2)
# incomes.head()

In [413]:
sales['구군'].value_counts().to_frame()

         구군
 서구    1631
 남구    1449
 북구    1258
 남양주시  1053
 동구     876
...     ...
 청양군      9
 무주군      8
 영양군      3
 신안군      3
 옹진군      2

[230 rows x 1 columns]

In [414]:
sales["구군"].unique()

array([' 평택시', ' 포천시', ' 포항시 남구', ' 포항시 북구', ' 하동군', ' 함안군', ' 해남군',
       ' 해운대구', ' 홍성군', ' 홍천군', ' 화성시', ' 가평군', ' 강남구', ' 강동구', ' 강북구',
       ' 강서구', ' 거제시', ' 경산시', ' 계양구', ' 고양시 덕양구', ' 고양시 일산동구',
       ' 고양시 일산서구', ' 관악구', ' 광명시', ' 광산구', ' 광주시', ' 광진구', ' 구례군',
       ' 구로구', ' 구리시', ' 구미시', ' 군산시', ' 군위군', ' 군포시', ' 금정구', ' 금천구',
       ' 김천시', ' 김포시', ' 김해시', ' 남구', ' 남동구', ' 남양주시', ' 남원시', ' 노원구',
       ' 논산시', ' 단양군', ' 달서구', ' 달성군', ' 당진군', ' 대덕구', ' 도봉구', ' 동구',
       ' 동대문구', ' 동래구', ' 동작구', ' 동해시', ' 마포구', ' 무안군', ' 무주군', ' 부산진구',
       ' 부천시 오정구', ' 부천시 원미구', ' 부평구', ' 북구', ' 사상구', ' 사천시', ' 사하구',
       ' 산청군', ' 서구', ' 서귀포시', ' 서대문구', ' 서초구', ' 성남시 분당구', ' 성남시 수정구',
       ' 성남시 중원구', ' 성동구', ' 성북구', ' 세종자치시', ' 송파구', ' 수성구', ' 수영구',
       ' 수원시 권선구', ' 수원시 영통구', ' 수원시 장안구', ' 수원시 팔달구', ' 순천시', ' 시흥시',
       ' 아산시', ' 안동시', ' 안산시 단원구', ' 안산시 상록구', ' 안성시', ' 안양시 동안구',
       ' 안양시 만안구', ' 양산시', ' 양주시', ' 양천구', ' 양평군', ' 여수시', ' 연수구', ' 연제구',
       ' 영광군', ' 영도구', ' 영등포구', ' 영주시', ' 예산군', ' 오산시', ' 완주군', ' 용산구',
       ' 용인시 기흥구', ' 용인시 수지구', ' 용인시 처인구', ' 울주군', ' 유성구', ' 은평구', ' 음성군',
       ' 의성군', ' 의왕시', ' 의정부시', ' 익산시', ' 임실군', ' 장수군', ' 전주시 덕진구',
       ' 전주시 완산구', ' 제주시', ' 제천시', ' 종로구', ' 중구', ' 중랑구', ' 증평군', ' 진안군',
       ' 진주시', ' 진천군', ' 창녕군', ' 창원시 마산합포구', ' 창원시 마산회원구', ' 창원시 성산구',
       ' 창원시 의창구', ' 창원시 진해구', ' 천안시 동남구', ' 천안시 서북구', ' 철원군', ' 청원군',
       ' 청주시 상당구', ' 청주시 서원구', ' 청주시 흥덕구', ' 춘천시', ' 충주시', ' 통영시', ' 파주시',
       ' 평창군', ' 하남시', ' 함양군', ' 횡성군', ' 강릉시', ' 강화군', ' 거창군', ' 경주시',
       ' 고령군', ' 고성군', ' 고창군', ' 공주시', ' 기장군', ' 나주시', ' 목포시', ' 밀양시',
       ' 부천시 소사구', ' 서천군', '세종자치시', ' 속초시', ' 연천군', ' 영천시', ' 원주시',
       ' 이천시', ' 칠곡군', ' 태안군', ' 합천군', ' 강진군', ' 계룡시', ' 고흥군', ' 광양시',
       ' 금산군', ' 남해군', ' 동두천시', ' 보은군', ' 봉화군', ' 순창군', ' 양구군', ' 영암군',
       ' 완도군', ' 의령군', ' 인제군', ' 장흥군', ' 정선군', ' 태백시', ' 함평군', ' 화순군',
       ' 곡성군', ' 보령시', ' 부여군', ' 삼척시', ' 양양군', ' 영덕군', ' 울진군', ' 정읍시',
       ' 과천시', ' 김제시', ' 담양군', ' 장성군', ' 여주시', ' 문경시', ' 상주시', ' 서산시',
       ' 여주군', ' 괴산군', ' 영월군', ' 예천군', ' 화천군', ' 성주군', ' 보성군', ' 영동군',
       ' 옥천군', ' 옹진군', ' 청도군', ' 청송군', ' 부안군', ' 진도군', ' 청양군', ' 영양군',
       ' 신안군'], dtype=object)

In [415]:

sales["시"].unique()

array(['경기도', '경상도', '전라도', '부산광역시', '충청도', '강원도', '서울특별시', '인천광역시',
       '광주광역시', '울산광역시', '대구광역시', '대전광역시', '제주도', '세종자치시'], dtype=object)

In [416]:
# sales['구군'] = sales['구군'].apply(lambda x: x.split(' ')[0] if '구' in x else x)
# sales["구군"] = sales["구군"].str.replace(" ", "")
# sales["시"] = sales["시"].str.replace(" ", "")
# sales["판매유형"] = sales["판매유형"].str.replace(" ", "")
# sales["계약유형"] = sales["계약유형"].str.replace(" ", "")
# sales.columns
sales.head()

,고객ID,판매유형,계약유형,유통경로,계약일,계약기간,납부유형,제품군,월랜탈비용,계약상태,...,연체여부,신용등급,결제은행,고객유형,생년,거주지,시,구군,남여구분,해약여부
0,66758234,렌탈,일반,서비스 방문,24-10-2022,60,CMS,DES-1,96900,계약확정,...,없음,9.00000,새마을금고,개인,1979.0,경기도,경기도,평택시,여자,정상
1,66755948,렌탈,교체렌탈,서비스 방문,24-10-2022,60,카드이체,DES-1,102900,계약확정,...,없음,2.00000,현대카드,개인,1982.0,경기도,경기도,평택시,남자,정상
2,66756657,렌탈,일반,홈쇼핑/방송,24-10-2022,60,CMS,DES-1,96900,계약확정,...,없음,8.00000,우리은행,개인,1973.0,경기도,경기도,평택시,여자,정상
3,66423450,멤버십,멤버십S,렌탈재계약,24-10-2022,12,CMS,DES-1,66900,계약확정,...,없음,5.00000,농협회원조합,개인,1982.0,경기도,경기도,포천시,남자,정상
4,66423204,멤버십,멤버십S,렌탈재계약,24-10-2022,12,CMS,DES-1,66900,해약확정,...,있음,8.00000,농협회원조합,개인,1961.0,경기도,경기도,포천시,남자,해약

In [417]:
# sales[sales["구군"] == "청원군"]
# sales.iloc[397].to_frame()

In [418]:
pd.options.display.float_format = '{:.5f}'.format
incomes['지역별 소득량(평균)'] = (incomes['금액 (백만원)'] * 1000000) / incomes['인원 (명)'] 

incomes["행정구역(시군구)별(1)"] = incomes["행정구역(시군구)별(1)"].str.replace("서울", "서울특별시")
incomes["행정구역(시군구)별(1)"] = incomes["행정구역(시군구)별(1)"].str.replace("경기", "경기도")
incomes["행정구역(시군구)별(1)"] = incomes["행정구역(시군구)별(1)"].str.replace("경북", "경상도")
incomes["행정구역(시군구)별(1)"] = incomes["행정구역(시군구)별(1)"].str.replace("전남", "전라도")
incomes["행정구역(시군구)별(1)"] = incomes["행정구역(시군구)별(1)"].str.replace("경남", "경상도")
incomes["행정구역(시군구)별(1)"] = incomes["행정구역(시군구)별(1)"].str.replace("강원", "강원도")
incomes["행정구역(시군구)별(1)"] = incomes["행정구역(시군구)별(1)"].str.replace("부산", "부산광역시")
incomes["행정구역(시군구)별(1)"] = incomes["행정구역(시군구)별(1)"].str.replace("충남", "충청도")
incomes["행정구역(시군구)별(1)"] = incomes["행정구역(시군구)별(1)"].str.replace("전북", "전라도")
incomes["행정구역(시군구)별(1)"] = incomes["행정구역(시군구)별(1)"].str.replace("충북", "충청도")
incomes["행정구역(시군구)별(1)"] = incomes["행정구역(시군구)별(1)"].str.replace("인천", "인천광역시")
incomes["행정구역(시군구)별(1)"] = incomes["행정구역(시군구)별(1)"].str.replace("대구", "대구광역시")
incomes["행정구역(시군구)별(1)"] = incomes["행정구역(시군구)별(1)"].str.replace("광주", "광주광역시")
incomes["행정구역(시군구)별(1)"] = incomes["행정구역(시군구)별(1)"].str.replace("대전", "대전광역시")
incomes["행정구역(시군구)별(1)"] = incomes["행정구역(시군구)별(1)"].str.replace("울산", "울산광역시")
incomes["행정구역(시군구)별(1)"] = incomes["행정구역(시군구)별(1)"].str.replace("제주", "제주도")
incomes["행정구역(시군구)별(1)"] = incomes["행정구역(시군구)별(1)"].str.replace("세종", "세종자치시")



incomes.rename(columns={"행정구역(시군구)별(1)" : "시",
                        "행정구역(시군구)별(2)":"구군"}, inplace=True)

# sales["구군"] = sales["구군"].str.replace(" ", "")
# sales["시"] = sales["시"].str.replace(" ", "")

incomes['구군'] = incomes['구군'].replace({'미추홀구(남구)': '남구'})
incomes['구군'] = incomes['구군'].replace({'당진시': '당진군'})
# incomes['구군'] = incomes['구군'].replace({'여주시': '여주'})
# sales['구군'] = sales['구군'].replace({'여주시': '여주'})
sales['구군'] = sales['구군'].replace({'청원군': '청주시'})

incomes.head()
# incomes[incomes["구군"].str.contains("소계")]

,시,구군,인원 (명),금액 (백만원),인원 (명).1,금액 (백만원).1,인원 (명).2,금액 (백만원).2,인원 (명).3,금액 (백만원).3,지역별 소득량(평균)
0,전국,소계,20534714,869287953,20482737,865213866,18449307,495049239,13632342,59145880,42332605.80108
1,서울특별시,소계,6210683,292623622,6201654,290890816,5558574,175027578,4186038,24311772,47116174.17923
2,서울특별시,강남구,976222,48864229,976207,48734271,891028,30206497,673704,4608010,50054423.07180
3,서울특별시,강동구,126378,5542785,126371,5469358,111938,3262950,82328,419824,43858780.80046
4,서울특별시,강북구,43849,1275551,43849,1272099,37434,623693,24071,48292,29089625.76113

In [419]:
# 데이터 전처리 
sales["구군"] = sales["구군"].apply(lambda x: x.strip())
sales['구군'] = sales['구군'].apply(lambda x: x.split()[0])
sales.loc[(sales['구군'] == '여주군'), '구군'] = '여주시'
sales['구군'] = sales['구군'].replace({'청원군': '청주시'})


incomes['구군'] = incomes['구군'].apply(lambda x: x.split()[0])
incomes.loc[(incomes['시'] == '세종자치시') & (incomes['구군'] == '소계'), '구군'] = '세종자치시'

In [420]:
display(sales)
display(incomes)

,고객ID,판매유형,계약유형,유통경로,계약일,계약기간,납부유형,제품군,월랜탈비용,계약상태,...,연체여부,신용등급,결제은행,고객유형,생년,거주지,시,구군,남여구분,해약여부
0,66758234,렌탈,일반,서비스 방문,24-10-2022,60,CMS,DES-1,96900,계약확정,...,없음,9.00000,새마을금고,개인,1979.0,경기도,경기도,평택시,여자,정상
1,66755948,렌탈,교체렌탈,서비스 방문,24-10-2022,60,카드이체,DES-1,102900,계약확정,...,없음,2.00000,현대카드,개인,1982.0,경기도,경기도,평택시,남자,정상
2,66756657,렌탈,일반,홈쇼핑/방송,24-10-2022,60,CMS,DES-1,96900,계약확정,...,없음,8.00000,우리은행,개인,1973.0,경기도,경기도,평택시,여자,정상
3,66423450,멤버십,멤버십S,렌탈재계약,24-10-2022,12,CMS,DES-1,66900,계약확정,...,없음,5.00000,농협회원조합,개인,1982.0,경기도,경기도,포천시,남자,정상
4,66423204,멤버십,멤버십S,렌탈재계약,24-10-2022,12,CMS,DES-1,66900,해약확정,...,있음,8.00000,농협회원조합,개인,1961.0,경기도,경기도,포천시,남자,해약
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51269,66799607,렌탈,일반,홈쇼핑/방송,07-02-2023,60,CMS,DES-1,96900,해약확정,...,없음,8.00000,신한은행,개인,1968.0,서울특별시,서울특별시,성동구,여자,해약
51270,66796621,멤버십,멤버십B,R관리방판,07-02-2023,36,CMS,DES-1,56979,계약확정,...,없음,NaN,롯데카드,개인,1989.0,경상도,경상도,밀양시,여자,정상
51271,66799558,렌탈,일반,영업방판,07-02-2023,60,카드이체,DES-1,96900,해약확정,...,없음,8.00000,롯데카드,개인,1979.0,경기도,경기도,성남시,여자,해약
51272,66799197,렌탈,프로모션,홈쇼핑/방송,07-02-2023,39,무통장,ERA,120900,해약확정,...,없음,1.00000,NaN,개인,1956.0,서울특별시,서울특별시,성동구,여자,해약
51273,66799607,렌탈,일반,하이마트,07-02-2023,60,CMS,DES-1,96900,해약확정,...,없음,8.00000,농협회원조합,개인,1968.0,서울특별시,서울특별시,성동구,여자,해약

,시,구군,인원 (명),금액 (백만원),인원 (명).1,금액 (백만원).1,인원 (명).2,금액 (백만원).2,인원 (명).3,금액 (백만원).3,지역별 소득량(평균)
0,전국,소계,20534714,869287953,20482737,865213866,18449307,495049239,13632342,59145880,42332605.80108
1,서울특별시,소계,6210683,292623622,6201654,290890816,5558574,175027578,4186038,24311772,47116174.17923
2,서울특별시,강남구,976222,48864229,976207,48734271,891028,30206497,673704,4608010,50054423.07180
3,서울특별시,강동구,126378,5542785,126371,5469358,111938,3262950,82328,419824,43858780.80046
4,서울특별시,강북구,43849,1275551,43849,1272099,37434,623693,24071,48292,29089625.76113
...,...,...,...,...,...,...,...,...,...,...,...
242,경상도,합천군,9725,341073,9725,340524,8954,177893,6352,15354,35071773.77892
243,제주도,소계,216654,7759606,216650,7733330,195194,4092020,136423,413113,35815659.99243
244,제주도,제주시,167737,6159032,167735,6136471,151459,3277155,106079,347515,36718386.52176
245,제주도,서귀포시,48917,1600574,48915,1596859,43735,814865,30344,65598,32720199.52164
246,기타,소계,486,11434,486,11422,364,5833,223,541,23526748.97119

In [421]:
# sales.loc[0, "구군"]
sales = pd.merge(left=sales, right=incomes, how='left', \
                  on=['시','구군'], sort=False)

sales

,고객ID,판매유형,계약유형,유통경로,계약일,계약기간,납부유형,제품군,월랜탈비용,계약상태,...,해약여부,인원 (명),금액 (백만원),인원 (명).1,금액 (백만원).1,인원 (명).2,금액 (백만원).2,인원 (명).3,금액 (백만원).3,지역별 소득량(평균)
0,66758234,렌탈,일반,서비스 방문,24-10-2022,60,CMS,DES-1,96900,계약확정,...,정상,217043,8921051,217040,8899228,196108,4990744,150840,516084,41102689.32884
1,66755948,렌탈,교체렌탈,서비스 방문,24-10-2022,60,카드이체,DES-1,102900,계약확정,...,정상,217043,8921051,217040,8899228,196108,4990744,150840,516084,41102689.32884
2,66756657,렌탈,일반,홈쇼핑/방송,24-10-2022,60,CMS,DES-1,96900,계약확정,...,정상,217043,8921051,217040,8899228,196108,4990744,150840,516084,41102689.32884
3,66423450,멤버십,멤버십S,렌탈재계약,24-10-2022,12,CMS,DES-1,66900,계약확정,...,정상,85658,2858585,85071,2846215,77709,1497198,56324,132444,33372072.66105
4,66423204,멤버십,멤버십S,렌탈재계약,24-10-2022,12,CMS,DES-1,66900,해약확정,...,해약,85658,2858585,85071,2846215,77709,1497198,56324,132444,33372072.66105
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51269,66799607,렌탈,일반,홈쇼핑/방송,07-02-2023,60,CMS,DES-1,96900,해약확정,...,해약,217049,8916022,217048,8888587,196612,4972105,140987,537686,41078383.22222
51270,66796621,멤버십,멤버십B,R관리방판,07-02-2023,36,CMS,DES-1,56979,계약확정,...,정상,30932,1070106,30932,1067551,27501,560521,19112,53254,34595435.14807
51271,66799558,렌탈,일반,영업방판,07-02-2023,60,카드이체,DES-1,96900,해약확정,...,해약,504233,26160902,503268,26061474,462286,16022504,361985,2281902,51882566.19460
51272,66799197,렌탈,프로모션,홈쇼핑/방송,07-02-2023,39,무통장,ERA,120900,해약확정,...,해약,217049,8916022,217048,8888587,196612,4972105,140987,537686,41078383.22222
51273,66799607,렌탈,일반,하이마트,07-02-2023,60,CMS,DES-1,96900,해약확정,...,해약,217049,8916022,217048,8888587,196612,4972105,140987,537686,41078383.22222

In [422]:
sales = sales.drop(['인원 (명)', '금액 (백만원)', '인원 (명).1', '금액 (백만원).1', '인원 (명).2', '금액 (백만원).2', '인원 (명).3', '금액 (백만원).3'], axis=1)

In [423]:
# sales.isna().sum()

In [425]:
sales_origin = pd.read_csv("dataFolder/rental.csv")
sales['구군'] = sales_origin['구군']

In [427]:
sales.to_csv("rental.csv", index = False)